.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    width: 94%;
    padding: 1% 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
box-sizing: border-box;
position: relative;
}

.links{
    display: flex;
    align-items: center;
    gap: 35px;
    font-size: 20px;
    border: 1px solid transparent;
}

.link:hover{
    transform: scale(1.1);
    color: rgb(190, 69, 24);
}

.logo{
    font-size: 60px;
    font-weight: 700;
}


@media screen and (max-width:768px) {
    .header{
        display: flex;
        flex-direction: column;
    }
    .links{
        margin-top: 5%;
        font-size: 15px;
        margin-bottom: 10%;
    }
}

@media screen and (min-width: 768px) and (max-width:1280px) {
    .header{
        display: flex;
    }
    .links{
        font-size: 15px;
    }
}
